.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: rgb(171, 178, 191);
	line-height: 1.5;
	word-wrap: break-word;
	background: #282c34;
	padding-top: 20px;
	box-sizing: border-box;
	min-width: 200px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-c {
	color: #6a737d;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-c1,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-s .pl-v {
	color: #005cc5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-e,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-en {
	color: #6f42c1;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-smi,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-s .pl-s1 {
	color: #24292e;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-ent {
	color: #22863a;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-k {
	color: #d73a49;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-s,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-pds,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-s .pl-pse .pl-s1,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-sr,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-sr .pl-cce,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-sr .pl-sre,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-sr .pl-sra {
	color: #032f62;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-v,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-smw {
	color: #e36209;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-bu {
	color: #b31d28;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-ii {
	color: #fafbfc;
	background-color: #b31d28;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-c2 {
	color: #fafbfc;
	background-color: #d73a49;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-c2::before {
	content: "^M";
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-sr .pl-cce {
	font-weight: bold;
	color: #22863a;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-ml {
	color: #735c0f;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mh,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mh .pl-en,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-ms {
	font-weight: bold;
	color: #005cc5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mi {
	font-style: italic;
	color: #24292e;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mb {
	font-weight: bold;
	color: #24292e;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-md {
	color: #b31d28;
	background-color: #ffeef0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mi1 {
	color: #22863a;
	background-color: #f0fff4;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mc {
	color: #e36209;
	background-color: #ffebda;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mi2 {
	color: #f6f8fa;
	background-color: #005cc5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-mdr {
	font-weight: bold;
	color: #6f42c1;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-ba {
	color: #586069;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-sg {
	color: #959da5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-corl {
	text-decoration: underline;
	color: #032f62;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body a {
	background-color: transparent;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body a:active,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body a:hover {
	outline-width: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body strong {
	font-weight: inherit;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body strong {
	font-weight: bolder;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1 {
	margin: 0.67em 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body img {
	border-style: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body input {
	font: inherit;
	margin: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body input {
	overflow: visible;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body [type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body * {
	box-sizing: border-box;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body input {
	font-family: inherit;
	line-height: inherit;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body a {
	color: #528bff;
	text-decoration: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body a:hover {
	text-decoration: underline;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body strong {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body hr::before {
	display: table;
	content: "";
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body hr::after {
	display: table;
	clear: both;
	content: "";
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body table {
	border-spacing: 0;
	border-collapse: collapse;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body td,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body th {
	padding: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h3,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h4,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h5,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1 {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2 {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h3 {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h4 {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h5 {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6 {
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body p {
	margin-top: 0;
	margin-bottom: 10px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body blockquote {
	margin: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul ol {
	list-style-type: lower-roman;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul ul ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul ol ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol ul ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol ol ol {
	list-style-type: lower-alpha;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body dd {
	margin-left: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body pre {
	margin-top: 0;
	margin-bottom: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .octicon {
	vertical-align: text-bottom;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-0 {
	padding-left: 0 !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-1 {
	padding-left: 4px !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-2 {
	padding-left: 8px !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-3 {
	padding-left: 16px !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-4 {
	padding-left: 24px !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-5 {
	padding-left: 32px !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .pl-6 {
	padding-left: 40px !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body::before {
	display: table;
	content: "";
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body::after {
	display: table;
	clear: both;
	content: "";
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body > *:first-child {
	margin-top: 0 !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body > *:last-child {
	margin-bottom: 0 !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body a:not([href]) {
	color: inherit;
	text-decoration: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .anchor {
	float: left;
	padding-right: 4px;
	margin-left: -20px;
	line-height: 1;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .anchor:focus {
	outline: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body p,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body blockquote,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body dl,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body table,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body pre {
	margin-top: 0;
	margin-bottom: 16px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body hr {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body blockquote {
	/* padding: 0 1em;
     color: #6a737d;
     border-left: 0.25em solid #dfe2e5;
     */
	padding: 8.5px 17px;
	margin: 1.5em 0;
	color: #7c879c;
	border-color: #4b5362;
	border-width: 4px;
	border-left: 5px solid #4b5362;
	background: transparent;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body blockquote > :first-child {
	margin-top: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body blockquote > :last-child {
	margin-bottom: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body kbd {
	display: inline-block;
	padding: 3px 5px;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: solid 1px #c6cbd1;
	border-bottom-color: #959da5;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #959da5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h3,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h4,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h5,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
	color: rgb(240, 240, 240);
	border-bottom: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1 .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2 .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h3 .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h4 .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h5 .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1:hover .anchor,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2:hover .anchor,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h3:hover .anchor,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h4:hover .anchor,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h5:hover .anchor,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6:hover .anchor {
	text-decoration: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1:hover .anchor .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2:hover .anchor .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h3:hover .anchor .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h4:hover .anchor .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h5:hover .anchor .octicon-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6:hover .anchor .octicon-link {
	visibility: visible;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h1 {
	padding-bottom: 0.3em;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h2 {
	padding-bottom: 0.3em;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body h6 {
	color: #6a737d;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol {
	padding-left: 2em;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul ul,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ul ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body li {
	word-wrap: break-all;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body li > p {
	margin-top: 16px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body li + li {
	margin-top: 0.25em;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body dl {
	padding: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body dl dt {
	padding: 0;
	margin-top: 16px;
	font-style: italic;
	font-weight: 600;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body table {
	display: block;
	width: 100%;
	overflow: auto;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body table th {
	font-weight: 700;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body table th,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body table td {
	padding: 6px 13px;
	/* border: 1px solid #dfe2e5;
     */
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body img {
	max-width: 100%;
	box-sizing: content-box;
	display: inline-block;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body img[align="right"] {
	padding-left: 20px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body img[align="left"] {
	padding-right: 20px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body code {
	padding: 0.2em 0.4em;
	margin: 0;
	background-color: #3a3f4b;
	border-radius: 3px;
	color: white;
	margin: 0 1px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body pre {
	word-wrap: normal;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body pre > code {
	padding: 0;
	margin: 0;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .highlight {
	margin-bottom: 16px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .highlight pre,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body pre {
	padding: 16px;
	overflow: auto;
	line-height: 1.45;
	/* background-color: #f6f8fa;
     */
	border-radius: 3px;
	background-color: #31363f;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body pre code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
	color: rgb(171, 178, 191);
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body
	.full-commit
	.btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body kbd {
	display: inline-block;
	padding: 3px 5px;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: solid 1px #d1d5da;
	border-bottom-color: #c6cbd1;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #c6cbd1;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body :checked + .radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .task-list-item {
	list-style-type: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .task-list-item + .task-list-item {
	margin-top: 3px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body .task-list-item input {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.vscode-body hr {
	border-bottom-color: #eee;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body blockquote {
	background-color: initial;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body pre {
	color: initial;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body code {
	color: inherit;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body pre code {
	color: initial;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body code > div {
	background: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body table th,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body table td {
	border: 1px solid rgba(171, 178, 191, 0.5) !important;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.showEditorSelection .code-active-line:before {
	border-left: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.showEditorSelection .code-line:hover:before {
	border-left: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body.showEditorSelection
	.code-line
	.code-line:hover:before {
	border-left: none;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body p,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body blockquote,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body ul,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body ol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body dl,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body table,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body pre {
	margin-top: 16px;
	margin-bottom: 16px;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #abb2bf;
	background: #282c34;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-comment,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-quote {
	color: #5c6370;
	font-style: italic;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-doctag,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-keyword,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-formula {
	color: #c678dd;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-section,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-name,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-selector-tag,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-deletion,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-subst {
	color: #e06c75;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-literal {
	color: #56b6c2;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-string,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-regexp,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-addition,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-attribute,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-meta-string {
	color: #98c379;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-built_in,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-class .hljs-title {
	color: #e6c07b;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-attr,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-variable,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-template-variable,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-type,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-selector-class,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-selector-attr,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-selector-pseudo,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-number {
	color: #d19a66;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-symbol,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-bullet,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-link,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-meta,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-selector-id,
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-title {
	color: #61aeee;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-emphasis {
	font-style: italic;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-strong {
	font-weight: bold;
}
.vscode-dark[data-vscode-theme-name="One Dark Code"].vscode-body .hljs-link {
	text-decoration: underline;
}
